*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #EAF7FF;
    padding: 20px;
}

header{
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px !important;
    margin-bottom: 25px;
    gap: 15px;
}

h1{
    margin: 0;
    color: #5A6C8C;
    text-align: center;
    flex: 1;
}

.volver{
    display: inline-block;
    background-color: #B8E3E9;
    color: #3D5A73;
    padding: 10px 20px;
    border-radius: 12px;
    border: 2px solid #D7EAF4;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 3px 10px rgba(0,0,0,.08);
    transition: 0.3s;
    white-space: nowrap;
    margin-left: 10px;
}

.volver:hover{
    background-color: #CDEEF2;
    color: #5A6C8C;
    transform: scale(1.05);
}

.btn-modo{
    background-color: #3b728f;
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 3px 10px rgba(0,0,0,.08);
    white-space: nowrap;
    margin-right: 10px;
}

.btn-modo:hover{
    background-color: #2b5f7d;
    color: #90e0ef;
    transform: scale(1.05);
}

section{
    background: #FFFDFB;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 40px;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

h2{
    background-color: #B8E3E9;
    color: #3D5A73;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.gal{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.item{
    width: 15vw;
    height: 15vw;
    min-width: 120px;
    min-height: 120px;
    background: #FFFFFF;
    border: 2px solid #D7EAF4;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,.08);
}

a:link, a:visited{
    color: #5A6E8C;
}

.repe{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    perspective: 1000px;
}

.repe .imagen{
    width: 30%;
    border-radius: 15px;

    transform-style: preserve-3d;

    cursor: pointer;

    transition: transform 0.5s ease;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        gap: 15px;
    }

    .volver, .btn-modo {
        width: 100%;
        text-align: center;
    }
}
